<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div id="wrapper" class="login-page">
    <div id="login_form" class="form">
        <form class="register-form">
            <input type="text" placeholder="用户名" value="admin" id="r_user_name"/>
            <input type="password" placeholder="密码" id="r_password"/>
            <button id="create">创建账户</button>
            <p class="message">已经有了一个账户? <a href="#">立刻登录</a></p>
        </form>
        <form class="login-form">
            <h2>用户登录</h2>
            <input type="text" placeholder="用户名" value="admin" id="user_name"/>
            <input type="password" placeholder="密码" value="123456" id="password"/>
            <button id="login">登　录</button>
            <p class="message">还没有账户? <a href="#">立刻创建</a></p>
        </form>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        if (top.location.href != location.href) {
            top.location.href = location.href
        }
        $("#login").click(function () {
            check_login();
            return false;
        })
        $("#create").click(function () {
            check_register();
            return false;
        })
        $('.message a').click(function () {
            $('form').animate({
                height: 'toggle',
                opacity: 'toggle'
            }, 'slow');
        });
    })

    function check_login() {
        var user_name = $("#user_name").val();
        var password = $("#password").val();
        $.ajax({
            type: "get",
            url: "/login",
            dateType: "json",
            data: {"userName": user_name, "password": password},
            success: function (data) {
                if (data.status == 1) {
                    alert("登陆成功");
                    location.href = "/index"
                } else {
                    alert("登录失败   可能是账号密码错误")
                }
            },
            error: function (e) {
                console.log("发生错误");
            }
        });
    }

    function check_register() {
        var name = $("#r_user_name").val();
        var pass = $("#r_password").val();
        $.ajax({
            type: "post",
            url: "/user_register",
            data: {"userName": name, "password": pass},
            dateType: "json",
            success: function (data) {
                if (data.status == 1) {
                    alert("注册成功");
                    location.href = "/"
                } else {
                    alert("登录失败   可能是已有该账户")
                }
            },
            error: function (e) {
                console.log("发生错误");
            }
        });
    }


</script>
</body>
</html>